<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:jms="http://www.springframework.org/schema/jms"
        xsi:schemaLocation="
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/jms http://www.springframework.org/schema/jms/spring-jms.xsd">
            
            
	<bean id="cacheProducerConnFactory" class="org.springframework.jms.connection.CachingConnectionFactory">
    	<constructor-arg name="targetConnectionFactory" ref="jmsProducerConnectionFactory"></constructor-arg>
    	<property name="sessionCacheSize" value="30"></property>
	</bean>
            
    <!-- 配置消费者连接工厂 -->
    <bean id="jmsProducerConnectionFactory" class="org.apache.qpid.client.AMQConnectionFactory">
        <constructor-arg index="0" value="${jms.producer.url}"/> 
    </bean>
    
      <!-- 配置template,传入连接工厂 -->
    <bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory" ref="cacheProducerConnFactory"/>
        <property name="messageConverter" ref="mongoMessageConverter"/>
    </bean>
    
    
    <bean id="mongoStoreDestination" class="org.apache.qpid.client.AMQAnyDestination">
		<!-- listener foreign sync mq -->
        <constructor-arg index="0"  value="${lepush.exchange.client.store}"/>
    </bean>
    
    <bean id="mongoUpdateDestination" class="org.apache.qpid.client.AMQAnyDestination">
		<!-- listener foreign sync mq -->
        <constructor-arg index="0"  value="${lepush.exchange.client.update}"/>
    </bean>
</beans>
