<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:task="http://www.springframework.org/schema/task"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.1.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
       http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.0.xsd
       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">

	<context:component-scan base-package="service" />
	
	<!-- 外部property文件的获取, 可以配置多个资源，支持通配符 -->
	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    	<property name="location" value="classpath:config.properties"></property>
	</bean>
	
	<bean id="cacheConsumerConnFactory" class="org.springframework.jms.connection.CachingConnectionFactory">
    	<constructor-arg name="targetConnectionFactory" ref="jmsConsumerConnectionFactory"></constructor-arg>
    	<property name="sessionCacheSize" value="30"></property>
	</bean>
            
    <!-- 配置消费者连接工厂 -->
    <bean id="jmsConsumerConnectionFactory" class="org.apache.qpid.client.AMQConnectionFactory">
        <constructor-arg index="0" value="${jms.conn.url}&amp;maxprefetch='0'"/> 
    </bean>

    <bean id="topicDestination" class="org.apache.qpid.client.AMQAnyDestination">
		<!-- listener foreign sync mq -->
        <constructor-arg index="0"  value="${lepush.queue.client.store}"/>
    </bean>
    
      <bean id="mongoStoreDestination" class="org.apache.qpid.client.AMQAnyDestination">
		<!-- listener foreign sync mq -->
        <constructor-arg index="0"  value="${lepush.exchange.client.store}"/>
    </bean>
	
	<bean id="consumerJmsTemplate" class="org.springframework.jms.core.JmsTemplate">
   	 	<property name="defaultDestination" ref="topicDestination"></property>
    	<property name="connectionFactory" ref="cacheConsumerConnFactory"></property>
	</bean>
	
	<bean id="producerJmsTemplate" class="org.springframework.jms.core.JmsTemplate">
    <property name="defaultDestination" ref="mongoStoreDestination"></property>
    <property name="connectionFactory" ref="cacheConsumerConnFactory"></property>
	</bean>
	
	<!--<import resource="classpath:applicationContext-swiftq-consumer.xml"/>
	<import resource="classpath:applicationContext-swiftq-producer.xml"/>-->
	

</beans>
